doctype html
html
	include parts/head
	body
		.main-wrap
			include parts/main-header

			.main-wrap__content
				include parts/flow-out
				include parts/main-aside
				include parts/main-content
		include parts/main-site-info
		include parts/main-footer
		//bower:js
		//endbower
		script(src='../js/jquery-columnizer.min.js')
		script(src='../js/jquery-ui.min.js')
		script(src='../js/select2.min.js')
		script(src='../js/main.js')