@charset "UTF-8";
html {
  font-family: 'open_sansregular';
  min-width: 1256px;
}

.seo-span {
  display: none;
}

.main-wrap,
.footer {
  width: 100%;
}

.main-wrap {
  background: #f4f4f4;
}

.main-wrap__content {
  width: 1100px;
  margin: 0 auto;
}
.main-wrap__content:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.socials-list__link-fc_black {
  background: url('../img/socials-sdb3e4d7bf9.png') 0 -31px no-repeat;
  width: 26px;
  height: 26px;
}

.socials-list__link-fc_black:hover {
  background: url('../img/socials-sdb3e4d7bf9.png') 0 0 no-repeat;
  width: 26px;
  height: 26px;
}

.socials-list__link-vk_black {
  background: url('../img/socials-sdb3e4d7bf9.png') 0 -347px no-repeat;
  width: 27px;
  height: 26px;
}

.socials-list__link-vk_black:hover {
  background: url('../img/socials-sdb3e4d7bf9.png') 0 -316px no-repeat;
  width: 27px;
  height: 26px;
}

.socials-list__link-tw_black {
  background: url('../img/socials-sdb3e4d7bf9.png') 0 -189px no-repeat;
  width: 26px;
  height: 26px;
}

.socials-list__link-tw_black:hover {
  background: url('../img/socials-sdb3e4d7bf9.png') 0 -158px no-repeat;
  width: 26px;
  height: 26px;
}

.socials-list__link-fc_white {
  background: url('../img/socials-sdb3e4d7bf9.png') 0 -110px no-repeat;
  width: 43px;
  height: 43px;
}

.socials-list__link-fc_white:hover {
  background: url('../img/socials-sdb3e4d7bf9.png') 0 -62px no-repeat;
  width: 43px;
  height: 43px;
}

.socials-list__link-vk_white {
  background: url('../img/socials-sdb3e4d7bf9.png') 0 -426px no-repeat;
  width: 43px;
  height: 43px;
}

.socials-list__link-vk_white:hover {
  background: url('../img/socials-sdb3e4d7bf9.png') 0 -378px no-repeat;
  width: 43px;
  height: 43px;
}

.socials-list__link-tw_white {
  background: url('../img/socials-sdb3e4d7bf9.png') 0 -268px no-repeat;
  width: 43px;
  height: 43px;
}

.socials-list__link-tw_white:hover {
  background: url('../img/socials-sdb3e4d7bf9.png') 0 -220px no-repeat;
  width: 43px;
  height: 43px;
}

.header__first-line-wrap,
.header__menu-line-wrap,
.header__logo-line-wrap {
  width: 1100px;
  margin: 0 auto;
}
.header__first-line-wrap:after,
.header__menu-line-wrap:after,
.header__logo-line-wrap:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.header__first-line,
.header__menu-line {
  border-bottom: 2px solid #ebedef;
  background: white;
}

/* FIRST_LINE */
.header__first-line {
  height: 77px;
}

.header__socials-list {
  float: left;
  margin-top: 25px;
}

.socials-list {
  padding: 0;
  margin-left: -17px;
  word-spacing: -.36em;
}
.socials-list__li {
  display: inline-block;
}
.socials-list__link {
  display: block;
  margin-left: 17px;
}
.socials-list__seo-span {
  font-size: 0px;
}

.header__adress,
.header__telephone {
  float: right;
  margin-top: 25px;
}

.header__telephone {
  margin-left: 77px;
}

.adress__street,
.telephone__number {
  font-size: 0,875em;
  margin: 0;
}

.adress__street:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: url("../img/sprite-s7e184e221b.png") 0 -72px no-repeat;
  margin-right: 10px;
  width: 12px;
  height: 16px;
}

.telephone__number:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: url("../img/sprite-s7e184e221b.png") 0 -205px no-repeat;
  margin-right: 10px;
  width: 12px;
  height: 16px;
}

.header__logo-line-wrap {
  height: 94px;
}

.header__logo-line-wrap:before {
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 1px;
  height: 100%;
}

/** LOGO_LINE **/
.header__logo,
.header__search-menu-wrap {
  display: inline-block;
  vertical-align: middle;
}

.header__search-menu-wrap {
  width: 790px;
}

.header__search-form {
  float: left;
}

.header__user-menu {
  position: relative;
  top: 5px;
  margin-top: 5px;
  float: right;
  margin: 0;
}

.header__logo {
  min-width: 300px;
}

.logo__link {
  font-family: 'open_sansextrabold';
  font-size: 1.25em;
  line-height: 1;
  text-decoration: none;
}

.logo__text_orange {
  margin: 0;
  color: #ff6600;
}

.search-form__input {
  float: left;
  height: 34px;
  border: 1px solid #dee1e4;
  border-right: 0;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 290px;
  padding: 0 15px;
  box-sizing: border-box;
}
.search-form__input:focus {
  outline: none;
}
.search-form__submit {
  color: white;
  float: left;
  height: 34px;
  width: 77px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border: none;
  background: #ff6600;
  outline: none;
}

.user-menu {
  min-width: 400px;
  list-style: none;
  display: inline-block;
  margin-left: -25px;
  font-family: 'open_sanssemibold';
  padding: 0;
}
.user-menu__li {
  display: inline-block;
  margin-left: 25px;
  font-size: 1em;
}
.user-menu__link {
  color: black;
}
.user-menu__link:hover {
  color: #ff6600;
}
.user-menu__link_active {
  color: #ff6600;
}

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  white-space: nowrap;
}
.main-menu__li {
  display: inline-block;
  margin-left: -0.26em;
}
.main-menu__link {
  font-size: 16px;
  display: block;
  height: 100%;
  padding: 20px 15px;
  color: black;
  text-decoration: none;
}
.main-menu__link:hover {
  background: #e4e2e2;
}
.main-menu__link_active {
  color: white;
  background: #ff6600;
  font-family: 'open_sanssemibold';
}
.main-menu__link_active:hover {
  background: #ff6600;
}

.aside {
  float: left;
  width: 333px;
}

.category-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
  color: black;
}
.category-menu__li {
  border: 1px solid #dee1e4;
  border-top: 0;
  overflow: hidden;
}
.category-menu__li:last-of-type {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.category-menu__li:first-of-type {
  border-top: 1px solid #dee1e4;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
.category-menu__link {
  font-size: 0.875em;
  color: #7f7f7f;
  text-decoration: none;
  display: block;
  background: #fbfbfb;
  padding: 15px 28px;
}
.category-menu__link:hover {
  background: #d9e5ea;
}
.category-menu__link_active {
  background: #d9e5ea;
}

/*** ACCORDEON **/
.aside__goods-param {
  margin-top: 38px !important;
}

.accordeon {
  list-style: none;
  padding: 0;
  margin: 0;
}
.accordeon__li {
  background: #fbfbfb;
  padding: 0 30px;
  border: 1px solid #dee1e4;
  border-top: 0;
  overflow: hidden;
}
.accordeon__li:last-of-type {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.accordeon__li:first-of-type {
  border-top: 1px solid #dee1e4;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
.accordeon .accordeon__toggle {
  font-family: 'open_sanssemibold';
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 16px 0;
}
.accordeon .accordeon__toggle:hover:after {
  content: '';
  display: inline-block;
  position: absolute;
  right: -5px;
  vertical-align: middle;
  background: url("../img/sprite-s7e184e221b.png") 0 -245px no-repeat;
  width: 18px;
  height: 11px;
}
.accordeon .accordeon__toggle + .accordeon__content {
  display: none;
  font-size: 0.875em;
}
.accordeon .accordeon_active:hover:after {
  content: '';
  display: inline-block;
  position: absolute;
  right: -5px;
  vertical-align: middle;
  background: url("../img/sprite-s7e184e221b.png") 0 -261px no-repeat;
  width: 18px;
  height: 11px;
}
.accordeon .accordeon_active + .accordeon__content {
  display: block;
}
.accordeon .accordeon__content {
  margin-bottom: 16px;
}

/*** ╨С╨╗╨╛╨║╨╕ **/
.filter-availability .filter-availability__input {
  display: none;
}
.filter-availability .filter-availability__input:checked + .filter-availability__label:before {
  display: inline-block;
  content: '';
  background: url("../img/sprite-s7e184e221b.png") 0 -117px no-repeat;
  width: 19px;
  height: 19px;
}
.filter-availability .filter-availability__label {
  margin-top: 7px;
  display: block;
}
.filter-availability .filter-availability__label:first-of-type {
  margin-top: -7px;
}
.filter-availability .filter-availability__label:before {
  display: inline-block;
  vertical-align: middle;
  content: '';
  margin-right: 10px;
  background: url("../img/sprite-s7e184e221b.png") 0 -93px no-repeat;
  width: 19px;
  height: 19px;
}
.filter-availability .filter-availability__label:hover:before {
  display: inline-block;
  content: '';
  background: url("../img/sprite-s7e184e221b.png") 0 -141px no-repeat;
  width: 19px;
  height: 19px;
}

.filter-brands .filter-brands__input {
  display: none;
}
.filter-brands .filter-brands__input:checked + .filter-brands__label:before {
  display: inline-block;
  content: '';
  background: url("../img/sprite-s7e184e221b.png") 0 -24px no-repeat;
  width: 19px;
  height: 19px;
}
.filter-brands .filter-brands__label {
  margin-top: 7px;
  display: block;
}
.filter-brands .filter-brands__label:first-of-type {
  margin-top: -7px;
}
.filter-brands .filter-brands__label:before {
  display: inline-block;
  vertical-align: middle;
  content: '';
  margin-right: 10px;
  background: url("../img/sprite-s7e184e221b.png") 0 0 no-repeat;
  width: 19px;
  height: 19px;
}
.filter-brands .filter-brands__label:hover:before {
  display: inline-block;
  content: '';
  background: url("../img/sprite-s7e184e221b.png") 0 -48px no-repeat;
  width: 19px;
  height: 19px;
}

.filter-os .filter-os__input {
  display: none;
}
.filter-os .filter-os__input:checked + .filter-os__label:before {
  display: inline-block;
  content: '';
  background: url("../img/sprite-s7e184e221b.png") 0 -24px no-repeat;
  width: 19px;
  height: 19px;
}
.filter-os .filter-os__label {
  margin-top: 7px;
  display: block;
}
.filter-os .filter-os__label:before {
  display: inline-block;
  vertical-align: middle;
  content: '';
  margin-right: 10px;
  background: url("../img/sprite-s7e184e221b.png") 0 0 no-repeat;
  width: 19px;
  height: 19px;
}
.filter-os .filter-os__label:hover:before {
  display: inline-block;
  content: '';
  background: url("../img/sprite-s7e184e221b.png") 0 -48px no-repeat;
  width: 19px;
  height: 19px;
}

.filter-colors {
  text-align: justify;
}
.filter-colors__input {
  display: inline-block;
  width: 37px;
  height: 37px;
  border: 1px solid #dee1e4;
}
.filter-colors__input_red {
  background: red;
}

.filter-reset-link {
  color: #5db2fc;
  margin: 10px 0;
  display: block;
}

.filter-price label:last-of-type {
  margin-left: 45px;
}
.filter-price__input {
  margin-left: 10px;
  display: inline-block;
  border: 1px solid #ebedef;
  -moz-border-radius: 3px / 3px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px / 3px;
  -moz-box-shadow: white 0px 1px 1px 0px, rgba(148, 148, 148, 0.43) inset;
  -webkit-box-shadow: white 0px 1px 1px 0px, rgba(148, 148, 148, 0.43) inset;
  box-shadow: white 0px 1px 1px 0px, rgba(148, 148, 148, 0.43) inset;
  width: 79px;
  height: 26px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 10px;
}
.filter-price__input:focus {
  outline: none;
}

.filter-colors {
  width: 230px;
  text-align: justify;
  margin-left: -20px;
}
.filter-colors__block {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 15px;
  width: 35px;
  height: 35px;
  border: 1px solid #dee1e4;
}
.filter-colors__block_active {
  border: 2px solid #ff6600;
}

/**** C╨Ы╨Р╨Щ╨Ф╨Х╨а jQueryUI - ╨╜╨░╨╗╨░╤И╤В╤Г╨▓╨░╨╜╨╜╤П**/
.filter-price .ui-slider {
  margin: 20px 0 30px;
  background: #dee1e4;
}

.filter-price .ui-slider .ui-slider-handle {
  background: url("../img/sprite-s7e184e221b.png") 0 -226px no-repeat;
  width: 8px;
  height: 14px;
}
.filter-price .ui-slider .ui-slider-handle:focus {
  outline: none;
}

.filter-price .ui-slider .ui-slider-range {
  background: #ff6600;
}

.filter-price .ui-slider-horizontal {
  height: 3px;
}

.filter-price .ui-slider-horizontal .ui-slider-handle {
  top: 0;
  margin-left: -4px;
}

.content {
  float: right;
  width: 745px;
}
.content:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.content__switchers {
  font-size: 0.875em;
  color: #5d656c;
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 54px;
  background: #e4ebee;
}
.content__switchers:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.content__switchers .content__sorter,
.content__switchers .content__view-mode-list {
  display: inline-block;
}
.content__switchers .content__sorter {
  float: left;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 10px;
}
.content__switchers .content__sorter__label-for-select, .content__switchers .content__sorter__select {
  display: inline-block;
  width: 141px;
  height: 26px;
  border: 1px solid #ebedef;
  -moz-border-radius: 3px / 3px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px / 3px;
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(148, 148, 148, 0.43);
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(148, 148, 148, 0.43);
  box-shadow: inset 0px 1px 1px 0px rgba(148, 148, 148, 0.43);
}
.content__switchers .content__sorter .sorter__label-for-select {
  margin-right: 10px;
}
.content__switchers .content__sorter__select:focus, .content__switchers .content__sorter__select:target {
  outline: none;
}
.content__switchers .content__view-mode-list {
  list-style: none;
  padding: 0;
  float: right;
  margin: 0;
  padding-right: 10px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.content__switchers .content__view-mode-list .view-mode-list__li {
  margin-left: -0.28em;
  display: inline-block;
  padding: 16px 16px;
  border-left: 1px solid #dee1e4;
}
.content__switchers .content__view-mode-list .view-mode-list__li:hover {
  background: #e0e7ea;
}
.content__switchers .content__view-mode-list .view-mode-list__text {
  margin-right: 10px;
}
.content__switchers .content__view-mode-list .view-mode-list_line {
  display: inline-block;
  background: url("../img/sprite-s7e184e221b.png") 0 -277px no-repeat;
  width: 16px;
  height: 16px;
}
.content__switchers .content__view-mode-list .view-mode-list_table {
  display: inline-block;
  background: url("../img/sprite-s7e184e221b.png") 0 -298px no-repeat;
  width: 16px;
  height: 16px;
}
.content__switchers .content__view-mode-list .view-mode-list_tile {
  display: inline-block;
  background: url("../img/sprite-s7e184e221b.png") 0 -319px no-repeat;
  width: 16px;
  height: 16px;
}

/***** SELECT 2 ╨┐╨╡╤А╤Б╨╛╨╜╨░╨╗╤М╨╜╤Л╨╡ ╨╜╨░╤Б╤В╤А╨╛╨╣╨║╨╕**/
.select2-container--default
.select2-selection--single
.select2-selection__arrow b {
  background: url("../img/sprite-s7e184e221b.png") 0 -245px no-repeat;
  width: 18px;
  height: 11px;
  border: none;
  left: 0;
  margin: 0;
  top: 25%;
  position: absolute;
  -moz-transform: scale(0.6, 0.6);
  -ms-transform: scale(0.6, 0.6);
  -webkit-transform: scale(0.6, 0.6);
  transform: scale(0.6, 0.6);
}

/**** MAIN Content **/
.content__product-list {
  list-style: none;
  padding: 0;
}

.content__product-wrap {
  background: #fbfbfb;
  border: 1px solid #dee1e4;
}

.product-wrap__product-price:after {
  display: inline-block;
  margin-left: 10px;
  content: 'P.';
}

.product-wrap__product-options-list {
  list-style: none;
  padding: 0;
}

.product-wrap__product-options-li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.product-wrap__product-options-li:nth-of-type(odd) {
  display: block;
  background: #e6e6e6;
}
.product-wrap__product-options-li .product-options-title {
  width: 48%;
  white-space: nowrap;
  float: left;
  overflow: hidden;
}
.product-wrap__product-options-li .product-options-value {
  width: 50%;
  float: right;
  text-align: right;
}

.product-wrap__add-to-basket {
  cursor: pointer;
  background: #ff6e34;
  font-size: 0.875em;
  color: white;
  font-family: 'open_sansbold';
  width: 103px;
  height: 33px;
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding: 5px 10px;
}

.product-wrap__product-availability_available:before {
  content: '';
  background: #60ac49;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 7px;
  -moz-border-radius: 3px / 3px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px / 3px;
}

.product-wrap__preview {
  width: 140px;
  text-align: center;
}

.product-wrap__wrap-big-image {
  border: 1px solid #dee1e4;
  -moz-border-radius: 2px / 2px;
  -webkit-border-radius: 2px 2px;
  border-radius: 2px / 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: white;
  width: 136px;
  height: 136px;
  padding: 5px;
  margin: 0 auto;
}

.product-wrap__big-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.product-wrap__preview-list {
  display: block;
  list-style: none;
  margin: 10px 0 10px -13px;
  padding: 0;
  text-align: center;
}

.product-wrap__preview-li {
  cursor: pointer;
  display: inline-block;
  margin-left: 13px;
  border: 1px solid #dee1e4;
  background-color: white;
  width: 32px;
  height: 32px;
}
.product-wrap__preview-li_active {
  border: 1px solid #ff6600;
}

.product-wrap__preview-img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

/* rating */
.product-wrap__rating-list {
  padding: 0;
}

.product-wrap__rating_active {
  vertical-align: middle;
  display: inline-block;
  margin: 0 auto;
  background: url("../img/sprite-s7e184e221b.png") 0 -185px no-repeat;
  width: 16px;
  height: 15px;
}

.product-wrap__rating {
  vertical-align: middle;
  display: inline-block;
  margin: 0 auto;
  background: url("../img/sprite-s7e184e221b.png") 0 -165px no-repeat;
  width: 16px;
  height: 15px;
}

.product-wrap__rating-number {
  margin: 0 10px;
  vertical-align: middle;
  color: white;
  display: inline-block;
  font-size: 0.7em;
  line-height: 0.5;
  height: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 7px / 7px;
  -webkit-border-radius: 7px 7px;
  border-radius: 7px / 7px;
  background-color: #b5beca;
  padding: 3px 10px;
}

/*** ╨в╨Р╨С╨Ы╨Ш╨з╨Э╨л╨Щ ╨▓╨╕╨┤ **/
.product-list_table {
  margin: 16px 0 -20px -12px;
}

.product-wrap_table {
  font-size: 0.875em;
  margin: 0 0 20px 16px;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 233px;
  padding: 20px 10px;
  position: relative;
}
.product-wrap_table:hover {
  -moz-box-shadow: 0px 1px 7.2px 0.8px rgba(153, 153, 153, 0.75);
  -webkit-box-shadow: 0px 1px 7.2px 0.8px rgba(153, 153, 153, 0.75);
  box-shadow: 0px 1px 7.2px 0.8px rgba(153, 153, 153, 0.75);
  z-index: 10;
}
.product-wrap_table .product-wrap__preview {
  margin: 0 auto;
  display: block;
}
.product-wrap_table .product-wrap__vendor-code {
  display: none;
}
.product-wrap_table .product-wrap__title {
  font-size: 1.2em;
  text-align: center;
  margin: 15px 0 5px;
}
.product-wrap_table .product-wrap__content {
  display: none;
}
.product-wrap_table .product-wrap__rating-list,
.product-wrap_table .product-wrap__product-price {
  text-align: center;
}
.product-wrap_table .product-wrap__product-price {
  font-size: 1.2em;
  font-family: 'open_sansbold';
  margin: 5px 0;
}
.product-wrap_table .product-wrap__add-to-basket {
  float: right;
}
.product-wrap_table .product-wrap__product-availability_available {
  margin-top: 5px;
  float: left;
}

/** ╨Ы╨╕╨╜╨╡╨╣╨╜╤Л╨╣ ╨▓╨╕╨┤ **/
.product-wrap_line {
  position: relative;
  border-top: none;
  padding: 10px;
  text-align: justify;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.product-wrap_line:hover {
  -moz-box-shadow: 0px 1px 4.45px 0.55px rgba(155, 155, 155, 0.75);
  -webkit-box-shadow: 0px 1px 4.45px 0.55px rgba(155, 155, 155, 0.75);
  box-shadow: 0px 1px 4.45px 0.55px rgba(155, 155, 155, 0.75);
  z-index: 10;
}
.product-wrap_line:last-of-type {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.product-wrap_line:first-of-type {
  border-top: 1px solid #dee1e4;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
.product-wrap_line:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.product-wrap_line .product-wrap__wrap-big-image,
.product-wrap_line .product-wrap__preview-list,
.product-wrap_line .product-wrap__product-options-list,
.product-wrap_line .product-wrap__content,
.product-wrap_line .product-wrap__rating-list {
  display: none;
}
.product-wrap_line .product-wrap__preview,
.product-wrap_line .product-wrap__content-wrap,
.product-wrap_line .product-wrap__title,
.product-wrap_line .product-wrap__info-block,
.product-wrap_line .product-wrap__product-price,
.product-wrap_line .product-wrap__add-to-basket,
.product-wrap_line .product-wrap__product-availability_available {
  display: inline-block;
  vertical-align: middle;
}
.product-wrap_line .product-wrap__add-to-basket {
  float: right;
}
.product-wrap_line .product-wrap__title {
  width: 290px;
  font-size: 14px;
  margin: 0;
  font-family: 'open_sansregular';
}
.product-wrap_line .product-wrap__product-price {
  font-family: 'open_sansbold';
  width: 90px;
  margin-top: 5px;
}
.product-wrap_line .product-wrap__vendor-code {
  font-size: 12px;
  width: 100px;
  text-align: left;
}
.product-wrap_line .product-wrap__vendor-code .vendor-code-title {
  color: #898989;
}
.product-wrap_line .product-wrap__preview {
  width: 100px;
}
.product-wrap_line .product-wrap__product-availability_available {
  font-size: 12px;
  color: #898989;
  width: 90px;
  font-family: 'open_sansbold';
  margin-top: 5px;
  margin-right: 10px;
}
.product-wrap_line .product-wrap__info-block {
  float: right;
}
.product-wrap_line .product-wrap__info-block:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.product-wrap_line .product-wrap__info-block:before {
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 1px;
  height: 100%;
}

/** ╨С╨╗╨╛╤З╨╜╤Л╨╣ ╨▓╨╕╨┤ **/
.product-wrap_tile {
  border-top: none;
  padding: 18px;
  position: relative;
}
.product-wrap_tile:hover {
  -moz-box-shadow: 0px 1px 5.7px 0.3px rgba(118, 118, 118, 0.75);
  -webkit-box-shadow: 0px 1px 5.7px 0.3px rgba(118, 118, 118, 0.75);
  box-shadow: 0px 1px 5.7px 0.3px rgba(118, 118, 118, 0.75);
  z-index: 10;
}
.product-wrap_tile:last-of-type {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.product-wrap_tile:first-of-type {
  border-top: 1px solid #dee1e4;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
.product-wrap_tile .product-wrap__preview,
.product-wrap_tile .product-wrap__content-wrap,
.product-wrap_tile .product-wrap__info-block {
  display: inline-block;
  vertical-align: top;
}
.product-wrap_tile .product-wrap__content-wrap {
  width: 380px;
  margin-left: 20px;
  padding-right: 15px;
  border-right: 1px solid #dee1e4;
}
.product-wrap_tile .product-wrap__title {
  margin-top: 5px;
}
.product-wrap_tile .product-wrap__rating-list {
  margin-top: 15px;
}
.product-wrap_tile .product-wrap__info-block {
  width: 130px;
}
.product-wrap_tile .product-wrap__info-block:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.product-wrap_tile .product-wrap__product-price,
.product-wrap_tile .product-wrap__add-to-basket,
.product-wrap_tile .product-wrap__product-availability_available {
  float: right;
}
.product-wrap_tile .product-wrap__add-to-basket {
  margin: 120px 0 10px;
}
.product-wrap_tile .product-wrap__product-options-list {
  display: none;
}

.content__page-list {
  font-size: 12px;
  font-family: 'open_sansbold';
  padding: 0;
  list-style: none;
  float: right;
}
.content__page-list:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.content__page-list .content__page-list__li {
  display: inline-block;
}
.content__page-list .content__page-list__link {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  vertical-align: middle;
  text-decoration: none;
  color: #7f7f7f;
  text-align: center;
  display: block;
  border: 1px solid #dee1e4;
  background: #fefefe;
  -moz-border-radius: 2px / 2px;
  -webkit-border-radius: 2px 2px;
  border-radius: 2px / 2px;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), inset 0px 1px 0px 1px rgba(255, 255, 255, 0.004);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), inset 0px 1px 0px 1px rgba(255, 255, 255, 0.004);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), inset 0px 1px 0px 1px rgba(255, 255, 255, 0.004);
  width: 26px;
  height: 25px;
}
.content__page-list .content__page-list__link:hover {
  background: #e0e0e0;
}
.content__page-list .list__link_active {
  background: #e0e0e0;
}

.flow-out {
  padding: 32px 0 32px;
}

.bread-crumbs {
  padding: 0;
  margin: 0;
  overflow: hidden;
  list-style: none;
  font-size: 0.875em;
}
.bread-crumbs__li {
  display: inline-block;
}
.bread-crumbs__li:first-of-type:before {
  content: '';
  padding-right: 0;
}
.bread-crumbs__li:before {
  content: ">";
  padding-right: 5px;
}
.bread-crumbs__link {
  color: black;
  text-decoration: none;
}
.bread-crumbs__link:hover {
  text-decoration: underline;
}
.bread-crumbs__link_active {
  text-decoration: underline;
  color: #ff6600;
}
.bread-crumbs__link_active:hover {
  text-decoration: underline;
  color: #ff6600;
}

.flow-out__current-page-h3 {
  font-family: 'open_sansbold';
  font-size: 1.25em;
  margin-bottom: 0;
}

.flow-out__current-page {
  color: black;
  text-decoration: none;
}

.site-info {
  background: #f4f4f4;
  overflow: hidden;
}
.site-info:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.site-info__wrap {
  padding: 15px 0;
  width: 1100px;
  margin: 0 auto;
}
.site-info__wrap .site-info__header {
  font-family: 'open_sansbold';
  font-size: 1.25em;
}
.site-info__wrap .site-info__text {
  font-size: 0.875em;
}
.site-info__wrap .site-info__text .column {
  width: 540px !important;
  text-align: justify;
}
.site-info__wrap .site-info__text .last {
  float: right !important;
}

.footer {
  background-image: url("../img/parts/footer-bg.jpg");
}

.footer__wrap {
  width: 1100px;
  margin: 0 auto;
  padding: 27px 0;
}
.footer__wrap:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.footer__left-side {
  float: left;
  overflow: hidden;
  padding-top: 40px;
}

.footer__right-side {
  width: 50%;
  float: right;
  overflow: hidden;
}

.logo__text_white {
  margin: 0;
  color: white;
}

.footer__socials-list,
.footer__simple-main-menu {
  width: 100%;
  float: right;
}

.footer__socials-list {
  text-align: right;
  margin-bottom: 17px;
}

.footer__simple-main-menu {
  font-size: 0.875em;
  text-align: right;
}

.simple-main-menu {
  list-style: none;
  margin-left: -20px;
  margin-bottom: -20px;
}
.simple-main-menu__li {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
}
.simple-main-menu__link {
  color: white;
}
.simple-main-menu__link:hover {
  text-decoration: none;
}

.footer__policy {
  border-top: 1px solid #494949;
  padding: 9px 0;
}

.footer__policy-text {
  margin: 0 auto;
  width: 1100px;
  text-align: center;
  color: white;
  font-size: 0.75em;
}
