html {
	font-family: 'open_sansregular';
	min-width: 1256px;
}

.seo-span {
display: none;
}

.main-wrap,
.footer{
	width: 100%;
}

.main-wrap{
	background: $main_color_1;
}

.main-wrap__content {
	@include clearfix;
	width: $main_width;
	margin: 0 auto;
}