@mixin set-sprite($map,$item) {
	$sprite-image: sprite-file($map,$item);
	$sprite-url: sprite-url($map);
	$sprite-position: sprite-position($map,$item);
	$sprite-width: image-width($sprite-image);
	$sprite-height: image-height($sprite-image);

	background: $sprite-url $sprite-position no-repeat;
	width: $sprite-width;
	height: $sprite-height;
}

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin clearfix {
	&:after {
		content: "";
		display: block;
		height: 0;
		clear: both;
	}
}
@mixin pre_clearfix {
	&:before {
		content: "";
		display: block;
		height: 0;
		clear: both;
	}
}
